# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# Build output
Debug/
Release/
x64/
x86/

# Intermediate / binaries
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.lib

# Optional: logs/cache
*.log


# VS user-specific
*.vcxproj.user

# IntelliSense / intermediate
ipch/
*.tlog
*.lastbuildstate

# CMake 쓰면
CMakeFiles/
CMakeCache.txt

# Project local outputs
Bin/
Intermediate/

# vcpkg (DO NOT COMMIT)
vcpkg_installed/
vcpkg/downloads/
vcpkg/buildtrees/
vcpkg/packages/

# temp created for vcpkg workaround
.tmp/